@charset "UTF-8";

:root {
        /* primary color */
        --header-bg-dark-blue: hsl(220,50%,17%);
        --card-bg-dark-orange-blue: hsl(22, 89%, 52%);
           
    
        /* Neutral */
        --heading-white: hsl(0, 0%, 100%);  /* (main heading, stats) */
        --para-transparent-white: #7b8bad;    /* (paragraph text) */
        --accent-soft-orange: hsl(22, 100%, 69%); 
        
    
        /* font family */
        --ff-text: sans-serif;

    
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

img {
    max-width: 100%;
}

body {
    font-family: var(--ff-text);
    font-weight: 500;
    font-size: 1.175rem;
    min-height: 100vh;
    width: 550px;
    margin: 0 auto;
}

header {
    max-width: 91.4%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2em;

}

main {
    max-width: 91.4%;
    margin: 0 auto;
}

button {
    font-family: var(--ff-text);
    font-size: 16px;
    padding: 0.9em;
    text-transform: uppercase;
    border-radius: 0.4em;
    background-color: rgb(241, 240, 240);
    color: #162542;
    font-weight: bold;
    border: 1px solid rgb(241, 240, 240);
}

button:hover {
    background-color: var(--para-transparent-white);
    color: #fff;
}

.top-section {
    max-width:91.4%;
    margin-top: 83px;
    margin-bottom: 30px;
    
    
}

.top-section , .section-two , .cards{
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-transform: uppercase;
    font-size:3.5rem;
    line-height: 56px;
    margin-bottom: 0.2em;
    color: var(--header-bg-dark-blue);
    font-weight: bolder;
    margin-bottom: 24px;
    
}
.main-header > p {
    width: 75%;
    
}

p {
    font-family: var(--ff-text);
    color: var(--para-transparent-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 40px;
}

.button-class {
    background-color: var(--card-bg-dark-orange-blue);
    color: #fff;
    margin-bottom: 6em;
    margin-right: 3em;
}
.button-class:hover {
    background-color: var(--accent-soft-orange);
}

span {
    display: inline-block;
    text-transform: uppercase;
    color: var(--para-transparent-white);
    font-style: normal;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    /* width: 50%; */
}

.keyboard-glass > img, .key-board > img {
    border-radius: 1em;
}

.key-board {
    width: 130%;
}

.keyboard-glass {
    /* width: 100%; */
    
}

.keyboard-glass > img {
    height: 100%;
}

.section-two {
    display: grid;
    gap: 2em;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 2fr 1fr;
   margin-bottom: 3em;
}

.keyboard-phone { 
    background-image: url(image-phone-and-keyboard.jpg);
    background-repeat: no-repeat;
    border-radius: 1.5em;
    background-size: cover;
    width: 100%;

 }

 
 /* To make images with overlay color  */
 div.image-overlay {
    background-color: #ff9b62;
    opacity: 0.75;
    
    mix-blend-mode: multiply;
    border-radius: 1.5em;
    height: 100%;

  }

  .side-note {
      grid-column: span 2;
      margin-top: 2em;
  }

  h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-style: normal;
    line-height: 36px;
    font-weight: 900;
    color: var(--header-bg-dark-blue);
    margin-bottom: 27px;
    text-align: center;
    

  }

  .side-note  p {
    font-size: 16px;
    text-align: center;
    
  }

 
  h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    font-style: normal;
    width: 50.5%;
    margin-top:1.5em ;
    text-align: center;
    color: var(--header-bg-dark-blue);
    
    margin-bottom: 24px;
    position: relative;
    left: 25%;

  }

  article > div {
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--card-bg-dark-orange-blue);
    background-position: center;
    border-radius: 0.3em;
    width: 20%;
    height: 50px;
    /* position: relative;
    left: 25%; */

  }

  article > p {
      text-align: center;
  }

 footer{
  max-width: 91.4%;
  margin: 2em auto;
  text-align: center;

  }


  @media screen and (min-width:550px){

    body {
        width:768px
    }


    header {
        width: 80.4%;
    }
    .top-section {
        width:91.4%;
        display: flex;
        gap: 2em;
    }
   

    h1 {
        font-size: 48px;
    }

    p {
       font-size: 16px;
    }

    .main-header {
        width: 200%
    }

    .key-board > img {
        max-width: 170%
    }

    .section-two {
        width:91.4%;
        margin-bottom: 4em;
    }

    .side-note {
        display: flex;
        align-items: center;
        gap: 2em;
        
    }

    .side-note > p {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        width: 91.4%;
        
        
        
    }

    .flex-card {
        width: 50%;
        
    }

    h3 {
        width: 70%;
        text-align: left;
        position: relative;
        left:0%
    }

    article > p {
        text-align: left;
    }

    article > div {
     position: relative;
     right: 40%;
    }


    
    
}


@media screen and (min-width:800px){

    body {
        width:1400px
    }
    /* main {
        width: 100%
    } */

    .cards {
        flex-wrap: nowrap;
        gap: 2em;
        
    }
    .wrapper {
        width: 100%
    }
    .flex-card {
        width: 25%;
    }

    h3 {
        width: 90%;
    }
     .top-section {
        width: 91.4%
    }

    .main-header {
     align-self: center;
     width: 90%
    }
    .key-board > img {
        width: 90%;
    }

    .section-two {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 480px;
    }

    .side-note {
        grid-column: 3/4;
        flex-direction: column;
        padding: 4em;
    }

    header {
        width: 83.7%;
    }

}




  

  



    

  

   

  





